.container {
    margin: auto;
    width: 50%;
}

.title {
    font-size: 3.0em;
}

.redirect {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


tr:nth-child(even) {background-color: #f2f2f2;}
